################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MAG.TOF/.vs/MAG.slnx/v18
/MAG.TOF/MAG.TOF.Web/bin/Debug/net10.0
/MAG.TOF/MAG.TOF.Web/obj
/MAG.TOF/.vs/MAG.TOF.slnx
/MAG.TOF.Web/bin/Debug/net10.0
/MAG.TOF.Web/obj
/MAG.TOF.Application/obj
/MAG.TOF.Domain/obj
/MAG.TOF.Infrastructure/obj
