<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}\logs\internal-nlog.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="NLog.Database"/>
	</extensions>

	<targets>
		<!-- Console target for immediate feedback -->
		<target name="console" xsi:type="Console"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
		
		<target name="database" xsi:type="Database"
				dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient"
				connectionString="Server=MATEUS_LAPTOP\SQLEXPRESS;Database=MAG.TOF;Trusted_Connection=True;TrustServerCertificate=True;">

			<commandText>
				INSERT INTO Logs (RequestId, LogDate, LogLevel, LogMessage, LogException, Logger)
				VALUES (@requestId, @logDate, @logLevel, @logMessage, @logException, @logger);
			</commandText>

			<parameter name="@requestId" layout="${scopeproperty:item=RequestId}" dbType="Int32" />
			<parameter name="@logDate" layout="${date}" />
			<parameter name="@logLevel" layout="${level}" />
			<parameter name="@logMessage" layout="${message}" />
			<parameter name="@logException" layout="${exception:tostring}" />
			<parameter name="@logger" layout="${logger}" />
		</target>
	</targets>

	<rules>
		<!-- Skip Microsoft.* and System.* logs that are below Warning level -->
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="System.*" maxlevel="Info" final="true" />

		<!-- Log everything from the application at Debug level and above -->
		<logger name="*" minlevel="Debug" writeTo="console,database" />
	</rules>
</nlog>	